<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_Config_Context</display-name>
	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>com.servlet.MyServlet</servlet-class>
		
		
		
	<init-param>
		<param-name>Name</param-name>
		<param-value>Way4ward Adefuwa Config</param-value>
	</init-param>
	
	<init-param>
		<param-name>Phone</param-name>
		<param-value>Huawei</param-value>
	</init-param>
	
	
	</servlet>
	
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/myServlet</url-pattern>
	</servlet-mapping>
	
	
	<context-param>
		<param-name>Name</param-name>
		<param-value>Adefuwa Ponmile Context</param-value>
	</context-param>
	
	
	
	<context-param>
		<param-name>Phone</param-name>
		<param-value>Samsung Pnone</param-value>
	</context-param>
	
	
</web-app>